@import 'tailwindcss';

:root {
  --background: #f7f0f0;
  --background-gradient: #ded9f0;
  --background-gradient-zero: #d1cae900;
  --primary-title: #575975;
  --primary-body: #858698;
  --secondary-body: #9c97aa;
  --accent: #c4bdda;
  --tag: rgba(235, 225, 233, 1);
  --page: 16rem;
  --section: 12rem;
  --h1: 6rem;
  --h2: 4rem;
  --h3: 2.5rem;
  --p: 1.5rem;
  --mono: 1.125rem;
  --rounding: 1rem;
  --alt-background: #2a292c;
  --alt-background-gradient: #3f3c51;
  --alt-background-gradient-zero: #3f3c5100;
  --alt-primary-title: #f8f5ef;
  --alt-primary-body: #f1e7e7;
}

@theme inline {
  --color-background: var(--background);
  --color-background-gradient: var(--background-gradient);
  --color-background-gradient-zero: var(--background-gradient-zero);
  --color-accent: var(--accent);
  --color-primary-title: var(--primary-title);
  --color-primary-body: var(--primary-body);
  --color-secondary-body: var(--secondary-body);
  --color-tag: var(--tag);
  --color-alt-background: var(--alt-background);
  --color-alt-background-gradient: var(--alt-background-gradient);
  --color-alt-background-gradient-zero: var(--alt-background-gradient-zero);
  --color-alt-primary-title: var(--alt-primary-title);
  --color-alt-primary-body: var(--alt-primary-body);
  --color-button-fill: var(--button-fill);
  --color-button-text: var(--button-text);
  --button-fill: var(--alt-primary-title);
  --button-text: var(--alt-background);
  --font-sans: var(--font-pp-mori);
  --font-mono: var(--font-geist-mono);
  --spacing-page: var(--page);
  --spacing-section: var(--section);
  --radius-rounding: var(--rounding);
}

/* tablet */
@media (max-width: 1200px) {
  :root {
    --page: 16rem;
    --section: 7.5rem;
    --h1: 4rem;
    --h2: 3rem;
    --h3: 1.75rem;
    --p: 1.375rem;
    --mono: 0.875rem;
    --rounding: 0.75rem;
  }
}

/* mobile */
@media (max-width: 960px) {
  :root {
    --page: 1rem;
    --section: 7.5rem;
    --h1: 3rem;
    --h2: 1.75rem;
    --h3: 1.375rem;
    --p: 1.125rem;
    --mono: 0.75rem;
    --rounding: 0.5rem;
  }
}

html[data-theme='dark'],
main[data-theme='dark'] {
  --background: #2a292c;
  --background-gradient: #3f3c51;
  --background-gradient-zero: #3f3c5100;
  --primary-title: #f8f5ef;
  --primary-body: #f8f5ef;
  --secondary-body: #ccc8d0;
  --accent: #a29db9;
  --tag: #524e5a;
  --alt-background: #f7f0f0;
  --alt-background-gradient: #ded9f0;
  --alt-background-gradient-zero: #d1cae900;
  --alt-primary-title: #575975;
  --alt-primary-body: #858698;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: var(--h1);
  font-weight: 500;
  letter-spacing: calc(var(--h1) * -0.03);
  color: var(--primary-title);
}

h2 {
  font-size: var(--h2);
  font-weight: 500;
  line-height: 110%;
  letter-spacing: calc(var(--h2) * -0.03);
}

h3 {
  font-size: var(--h3);
  font-weight: 500;
  letter-spacing: calc(var(--h3) * -0.02);
}

.body {
  font-size: var(--p);
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: -0.03rem;
}

.font-mono {
  font-family: var(--font-geist-mono);
  font-size: var(--mono);
  letter-spacing: -0.02rem;
  font-weight: 500;
  text-transform: uppercase;
}

.gradient {
  border-radius: 123rem;
  width: 123rem;
  height: 93.5625rem;
  top: -10rem;
  left: 0;
  right: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--background-gradient, #ded9f0) 0%,
    var(--background-gradient-zero, rgba(209, 202, 233, 0)) 100%
  );
}

.alt-gradient {
  border-radius: 123rem;
  width: 123rem;
  height: 93.5625rem;
  bottom: -40rem;
  left: 0;
  right: 0;
  z-index: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--alt-background-gradient, #ded9f0) 0%,
    var(--alt-background-gradient-zero, rgba(209, 202, 233, 0)) 100%
  );
}

#star {
  fill: var(--background);
}

html[data-theme='dark'] .light-el {
  opacity: 0;
}

.message {
  animation: initMessage forwards 2s 0s cubic-bezier(0.8, 0, 0, 0.8);
  opacity: 0;
  width: 0;
  transform: translateY(300px);
}

@keyframes initMessage {
  0% {
    opacity: 0;
    width: 0;
    transform: translateY(300px);
  }
  50% {
    opacity: 1;
    width: auto;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    width: auto;
    transform: translateY(0px);
  }
}

.message-container {
  animation: initMessageConatiner forwards 2s 0s cubic-bezier(0.8, 0, 0, 0.8);
}

@keyframes initMessageConatiner {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}

.animation-delay-1000 {
  animation-delay: 1s;
}

.animate-spin {
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.8, 0, 0, 0.8);
  animation-delay: inherit;
}

::selection {
  background: #c4bdda46;
}

.bg-tinkerer {
  background: radial-gradient(
      55% 176.74% at 50% 148.05%,
      rgba(67, 156, 179, 0.75) 49.52%,
      rgba(53, 75, 93, 0.75) 100%
    ),
    var(--background-gradient, #3f3c51);
  box-shadow: 0px -8px 24px 0px #6d9392 inset;
}
